[2019-08-14 18:02] jwaggs opened #1 "Ensure that repository settings are properly configured"
Before beginning the mhl implementation, we need to formalize the pull-request process, determine our branching scheme and protection rules, etc. Here are some basic questions to address....

1. How many reviews are required for a pull request to be approved?

2. Which collaborators are allowed and/or expected to review/approve/merge pull requests?

3. Shall we formalize any branches other than th

[2019-08-19 13:20] ptrpfn commented on #1
IMHO such processes depend on how we intend to use the repository in the future. If it is going to evolve into reference implementation that is a well tested and that can be used in production, I totally agree that we need good rules for maintaining the repository. If it's more of a playground (what it is right now) that goes along the last rounds of iterating the specification in our meetings, I

[2019-08-19 16:40] jwaggs commented on #1
I can get behind that. When I initially opened this issue no code had been committed to the repository yet. I usually like to make a point to ensure all code is properly reviewed by at least one maintainer out of principle, even if the code is submitted by another maintainer. Obviously I'll still go back and review everything you committed the other day and I can simply open issues and / or pull r

[2019-08-20 07:14] ptrpfn commented on #1
That sounds good. There won't be too much activity from our side either before the next meeting. From there we should be able to see what the next tasks for this repository will be.

[2019-09-23 17:41] jwaggs opened #2 "Refactor script into decent project structure"
Currently, the main mhl script is an ~800 line python file and does not utilize python modules correctly. The script needs to be broken up into an organized project structure.

[2019-09-23 18:14] jwaggs opened #3 "All print statements should be refactored to call a common logger."
We should have a central logger class that can take some initial configuration upon cli invocation (for settings like verbosity)... and then all "print" statements should be routed through this central logger. That way, common checks like "if verbose: then print" can be wrapped into a single "log_verbose" function... which will discard the log message if it was not configured to be verbose.

The c

[2019-09-23 18:57] jwaggs opened #4 "Method for generating checksums"
I've noticed that you are using `subprocess.check_output` to generate the checksums rather than using the built in `hashlib` library. Is there is a specific reason we are doing this?

I'm aware that XXHash64 and c4 and not natively supported hash algorithms in the hashlib library. There is however a fully hashlib-compliant xxhash package though. That only leaves c4, which could still utilize a sub

[2019-09-23 20:37] jwaggs opened #5 "Needs documentation"
For the most part, I can follow a significant amount of the code with minimal effort since many of the functions are only 4 or 5 lines long. Your functions are also named well. In those situations, I can obviously infer the scope of encapsulation and therefor the necessity of commenting becomes debatable.

But when there is a ~300 line class like the `HashListCreator` ... it becomes very difficult

[2019-09-23 20:53] jwaggs opened #6 "Create CLI Context"
It appears to me that one of the main purposes (but not the only purpose) of the HashListCreator is to keep track of some root runtime configurations such as the root path, verbosity level, etc.

This type of setup is a perfect use case for the click framework's [Context](https://click.palletsprojects.com/en/7.x/api/#context).

[2019-09-23 21:11] jwaggs commented on #4
I just realized that my prior comment wasn't entirely accurate... because even the c4 function starts by generating a sha512 via a subprocess. sha512 can be generated with hashlib as well, meaning that the subprocess is not necessary for the c4 implementation either as far as I can tell.

[2019-09-24 12:16] ptrpfn commented on #5
Got it. I will look through the longer classes/methods/functions and add a bit of comment to better illustrate goal and purpose asap.

[2019-09-24 16:05] jwaggs commented on #2
@ptrpfn no problem at all. Definitely understand, but that being said I'd like to include the organizational restructure in one of my first pull requests because I think it will significantly help us stay organized moving forward, regardless of the direction that the project advances in.

Without a bit more organization, the code is already at the place where it will be difficult for me to build u

[2019-09-24 21:17] jwaggs commented on #6
I can do this when I restructure the script.

[2019-09-24 21:22] jwaggs commented on #3
I can build the logger.

[2019-09-24 21:25] jwaggs commented on #4
Ok I’ll investigate this more when I address the other issues.

[2019-09-25 14:58] ptrpfn commented on #5
Added docstrings in branch doc-improvements

[2019-09-25 18:03] jwaggs commented on #5
Thanks this should be good for now.

[2019-09-25 18:03] #5 closed

[2019-10-02 20:54] jwaggs opened #8 "CLI command / argument / option design"
Commands:

Currently, there are two main commands... verify and read. Are there any other commands that are planned or that have been discussed ? Do we want to keep the initial seal as an implicit part of the first verification or require it to be explicitly sealed with a different command the first time? Any other related command design worth discussing at this point?

Arguments:

- Would we like

[2019-10-02 20:57] jwaggs opened #9 "Classes should refer to context for configurable information"
During my refactor in PR #7, the new code that I wrote utilizes the context that I built. But I have not refactored the classes in the src/mhl directory to refer to the context for this data yet (mainly due to time constraints). This means that some of the root configurations are set it multiple places and passed down as each object creates other objects.

Now that this data has been stored on a r

[2019-10-02 21:01] jwaggs opened #10 "Directory hashes should be generated via internal libs"
In PR #7 I refactored the file hashes to be generated via the hashlib and xxhash libraries. The directory hashes are still being generated how they were previously, by writing the data to a temporary file and then using a sub process to generate the hash from that data and reading the return val. Instead, we should just use the internal libs to compute these hashes too.

[2019-10-08 15:29] ptrpfn commented on #3
Implemented by @jwaggs , reviewed, merged into master branch.

[2019-10-08 15:29] #3 closed

[2019-10-08 15:39] jwaggs commented on #2
Resolved in PR #7

[2019-10-08 15:39] #2 closed

[2019-10-08 15:40] jwaggs commented on #4
Resolved in PR #7

[2019-10-08 15:40] #4 closed

[2019-10-08 15:40] jwaggs commented on #6
Resolved in PR #7

[2019-10-08 15:40] #6 closed

[2019-10-08 15:44] jwaggs opened #11 "Unit testing"
Currently, all testing is simulated via the `Scenarios/_test_all.sh` script, and visually parsing the details for anomalies in a git diff.

While the `_create_readme.sh` and `_test_all.sh` scripts are valuable to quickly showcase desired functionality, they should not be used as an authoritative source regarding the functional integrity of the system. We should refactor the unit testing to a utili

[2019-11-04 15:07] ptrpfn opened #13 "Finish specification of "chain file" format"
There are a few details still to be discussed / proposed – e.g. exact text format and file name, and also if there should be an option to have multiple chain files for write-once file systems.

[2019-11-04 15:09] ptrpfn commented on #9
The verbose property is also something that should be stored centrally.

[2019-11-04 15:09] ptrpfn commented on #9
The verbose property is also something that should be stored centrally.

[2019-11-04 15:09] ptrpfn opened #14 "Improve robustness (e.g. error checks on file operations)"
The code is marked with "TODO" or "FIXME" on a few locations for that.

[2019-11-04 15:10] ptrpfn opened #15 "Homogenize XML creation"
Right now there are two or even three different APIs used to create XML. Works, but is not the easiest to read.

[2019-11-04 15:11] ptrpfn commented on #8
There is also the need to clean this up. Right now there are several orphaned options and commands half-implemented that are not needed any more.

[2019-11-04 15:16] ptrpfn opened #16 "Improve specification of values for <process>"
The possible values for the <process> tag in the header is not specific enough. There are a range of processes that should be differentiated. This came up in a Slack discussion recently:
```... we should extend these values to reflect in detail what happened during “the process”, e.g. if source and [destination] hashes have been compared, or only the source against the MHL hashes, and so on (there

[2019-11-07 14:57] ptrpfn opened #17 "Think about tests"
Besides unit tests also define end-to-end tests that could be adapted by 3rd party implementors of ASC-MHL?

[2019-11-07 15:06] jwaggs commented on #1
I will do this once assigned the proper admin permissions.

[2019-11-07 15:15] jwaggs commented on #11
I will get the initial project testing structure setup and then patrick will translate his existing scenarios into python tests.

[2019-11-07 15:17] jwaggs opened #18 "Separate traversal logic from business logic"
See todo in src/util/traverse.py

[2019-11-07 15:17] jwaggs commented on #18
This is put on hold until we have valid unit tests to ensure that the refactor does not introduce any unexpected changes.

[2019-11-07 15:17] jwaggs commented on #10
This is also put on hold until unit testing is implemented.

[2019-11-07 15:19] ptrpfn commented on #17
Moving the comment into the other "test" issue

[2019-11-07 15:19] #17 closed

[2019-11-07 15:19] ptrpfn commented on #11
Additional thought: Besides unit tests also define end-to-end tests that could be adapted by 3rd party implementors of ASC-MHL?

[2019-11-07 15:21] ptrpfn commented on #13
Go with a simple "MD5" style text file with one line per MHL hash for now.

[2019-11-07 15:21] #13 closed

[2019-11-07 15:24] ptrpfn commented on #15
Do unit tests first.

[2019-11-07 15:28] ptrpfn commented on #16
Specify details about the process itself, and reflect the options of the command line tool here.

[2019-11-14 08:56] ptrpfn opened #19 "Use github Action "Build and test your Python repository" ?"
New feature in github: [Actions](https://github.com/ascmitc/mhl/actions/new)

[2019-11-19 00:44] jwaggs commented on #11
I've created PR #20 to start staging our testing development.

See the updated README for the tests info. I went with pytest.

[2020-03-11 07:56] ptrpfn opened #22 "Feature: chain file currently not verified yet"
chain.txt files are written / appended when new generations are created, but the hashes in the chain file are not verified yet.

This also needs the decision when that should happen (e.g. in a "verify" command).

[2020-03-17 16:59] MichaelHudgins opened #24 "XXHash clarifications with new incoming algorithms"
The xxHash project [https://github.com/Cyan4973/xxHash](url) has a new algorithm that is in development.  It may be worth be proactive before first release of the new mhl spec and tool to clarify what xxHash algorithm is being used so that newer xxHash algorithms may be added seamlessly in the future.

[2020-03-17 18:09] jwaggs commented on #1
The master branch now has a protection rule enforcing that pull requests must be approved by at least one reviewer. This protection rule is applied to even admins. No branch other than master branch is currently protected. As the project progresses, if a more formal branching scheme becomes necessary, then those branches can be protected at such time. This closes the initial scope of the issue.

[2020-03-17 18:09] #1 closed

[2020-03-19 08:21] ptrpfn commented on #24
Thanks for the heads-up! We'll include that new variant of XXH3 into the discussion in order to make sure that we have a way to easily extend the list of hash formats.

[2020-03-19 08:21] ptrpfn commented on #24
(or we include it right away)

[2020-03-19 17:22] jwaggs opened #25 "Clarify official tool name"
Throughout the structure we have use different flavors of these names to refer to the project: asc-mhl, ascmhl, and just mhl. Some examples:

- we currently have a main file named `asc-mhl.py`
- a file extension named `.ascmhl` for each generation created.
- output is inside of an `asc-mhl` folder
- a cli group named `mhltool_cli`
- and a main package named `mhl` that is intended to be invoked as

[2020-06-09 09:03] ptrpfn commented on #8
@jwaggs Can we close this topic with the latest command spec?

[2020-06-12 17:35] jwaggs commented on #8
@ptrpfn would you mind posting the command spec here for history sake before we close it out?

[2020-06-13 10:38] ptrpfn commented on #8
_Here is the spec:_

# Running `mhl-tool.py`

The asc-mhl toll can be used to work with

* entire file hierarchies (commands `seal`, `check`, and `diff`),
* asc-mhl history folders (command `info`),
* and on single files or lists of files (commands `record`, `verify` and `history`).

## Working with file hierarchies

The most common commands when using the `mhl-too.py` in data management scenarios

[2020-06-13 17:16] #8 closed

[2020-06-18 15:45] ptrpfn opened #26 "Optimize verification by using file system information for "early fail""
The verification commands could use the optional file size and last modification date attributes in the <hash> tag if available. When for example the file size differs than written in the MHL document, the verification can fail immediately without hashing the (potentially huge) file.

[2020-07-07 07:31] ptrpfn commented on #16
Decided in meeting 10 Jun 2020

[2020-07-07 07:31] #16 closed

[2020-07-07 07:32] ptrpfn commented on #24
Decided to include new flavor XXH3/XXH128 in meeting 10 Jun 2020.

[2020-07-07 07:51] ptrpfn opened #27 "Add xxh128/xxh3 as hashing algorithm"
Currently `_xxhash.py` of the [ifduyue/python-xxhash](https://github.com/ifduyue/python-xxhash) packge doesn't expose an interface for xxh3/xxh128. Possible action would be opening an issue there for adding xxh128.

[2020-07-07 08:50] ptrpfn opened #28 "Secondary use case: Verify/check against different generation than gen. 1"
In some cases (e.g. after a hash value mismatch in previous generations), a verification against a later hash (e.g. a later generation) might be useful. Implementing it as an option for existing commands (`check`, `verify`) could be a good solution.

[2020-08-04 04:21] jwaggs commented on #11
This has progressed enough to close

[2020-08-04 04:21] #11 closed

[2020-09-11 20:25] jwaggs commented on #25
During a group vid chat we arrived at the conclusion that this project would be referred to as ascmhl.

[2020-09-11 20:25] #25 closed

[2020-09-11 20:28] jwaggs commented on #18
This is closed by PR #21

[2020-09-11 20:28] #18 closed

[2020-10-28 21:01] jwaggs opened #35 "Version and Command Name incorrect values"
The version and command name (tool name) recorded in the mhl file contain outdated values. Ensure these are not hard coded so future drift doesn't occur.

[2020-10-28 21:23] jwaggs opened #36 "New Python 3.8 warning: SyntaxWarning: "is not" with a literal"
Brandon Bussinger from Netflix reported the following warnings being displayed when running the create command. A quick google shows these are new warning introduced with the latest release of Python (Version 3.8). These should be addressed.

File: mhl/generator.py:77:
`SyntaxWarning: "is not" with a literal. Did you mean "!="? return hash_entry.action is not 'failed'`
File: mhl/hasher.py:82:
`Syn

[2020-10-28 21:39] jwaggs opened #37 "Allow for mhl seal directory to be overridden."
A copy / paste of Brandon Bussinger's feedback:

In order to ensure completeness of an entire day, a DIT or Footage Manger may need to send a ‘manifest of manifests’ to another department to ensure completeness for the day.

-Do we have a methodology for doing this?
-This would need to live separate from the data, is there affordance to verify a directory against an MHL that is NOT in the root fol

[2020-11-04 15:32] #36 closed

[2020-11-18 19:59] jwaggs commented on #10
This has been solved in the DirectoryHashContext class found in mhl.hasher module.

[2020-11-18 19:59] #10 closed

[2020-11-23 08:37] ptrpfn opened #42 "Change name of chain.txt to ascmhl_chain.txt"
Decided in VWG group meeting (18. Nov 2020) for improved clarity

Original feedback via Keenan:

[2020-11-23 08:40] ptrpfn opened #43 "Better exit codes for distinguishing different, multiple errors (missing vs. missing and hash mismatch)"
Original feedback from Keenan:

[2020-12-14 16:24] ptrpfn commented on #37
Moved to meeting agenda

[2020-12-14 16:24] #37 closed

[2020-12-14 16:27] ptrpfn commented on #27
Todo: check if it has been exposed in  the Python wrapper of the xxhash library in the meantime

[2020-12-14 16:28] #24 closed

[2020-12-14 16:29] jwaggs commented on #27
These algorithms were added in version 2.0 of the python xxhash library we use.

[2020-12-14 16:32] #15 closed

[2020-12-14 16:33] jwaggs commented on #9
The structure of the code has changed since this issue and this is no longer necessary.

[2020-12-14 16:33] #9 closed

[2020-12-14 16:36] ptrpfn opened #44 "Split directory hashes into content and file system structure hashes"

[2020-12-14 16:37] ptrpfn opened #45 "PIP installer"
Create an installer package for easy install

[2020-12-14 16:37] jwaggs opened #46 "Issues with nested histories"
There seem to be a few different bugs with nested histories. Parent ignore spec updates override their child history ignore specs. Also, it was reported by Eric Hansen on slack that you can not update the checksum format in child histories. These should be investigated and addressed.

[2020-12-14 16:39] ptrpfn commented on #46
https://docs.google.com/document/d/10UTRwTO6xEO-nexBBMMsHWcRCsvddVp9gs_uplo6bY4

[2020-12-14 16:44] jwaggs opened #47 "Ignore Spec"
The ignore spec is mostly fleshed out but still need some issues with nested mhl histories worked out. Related to issue #46

[2020-12-14 16:44] ptrpfn commented on #35
Is merged into master branch

[2020-12-14 16:46] jwaggs commented on #47
see PR #40 for current staged work on the ignore spec

[2020-12-14 16:48] ptrpfn commented on #24
Is now issue #27 https://github.com/ascmitc/mhl/issues/27

[2020-12-14 16:49] ptrpfn commented on #15
Referred to old implementation, closing.

[2020-12-14 16:49] ptrpfn commented on #9
Referred to old implementation, closing.

[2020-12-15 21:36] error1k opened #48 "Nesting issue when not using xxh64 as original hash type"
Seeing an issue when nesting and the original hash was not xxh64. If I create the initial ASC-MHL (of a MAG) as either sha1, c4 or md5 and then attempt to nest a set of MAGs (replicating a transport drive), the nest command creates a new hash (as xxh64) and is unable to write the directories and reports.

Below is an example of creating a ascmhl with sha1, then attempting to nest that path. I am h

[2020-12-16 16:14] jwaggs commented on #48
@error1k thanks for posting this - good find and is certainly a bug. I'll tag this for the next alpha release (which is currently set for Jan. 20, 2021). Hopefully we can resolve this by then.

This issue blocks #46

[2020-12-16 17:23] ptrpfn commented on #48
Bug is reproduced, reason is found, fix is on the way. We need a bit more testing, might be committed (together with a new test case) tomorrow.
@error1k : Thank you for reporting that one!

[2020-12-18 08:23] ptrpfn commented on #48
Bug should be fixed with the merged fix. @error1k can you confirm that?

[2020-12-18 08:26] ptrpfn commented on #48
Reopening for final confirm.

[2020-12-22 23:28] error1k commented on #48
Fix looks good. Moving on to additional testing.

[2020-12-22 23:28] #48 closed

[2021-01-13 18:11] ptrpfn opened #52 "Check test coverage with "coverage""
Easy way to  check which part of the code is covered by tests: https://coverage.readthedocs.io/en/coverage-5.3.1

[code]

Creates browse-able HTML pages of the entire Python code that marks which code lines are not reach ed by tests.

Already identified a few tests that are missing, for example the `verify -dh` sub-command.

[2021-01-14 07:54] jwaggs commented on #46
The ignore functionality on nested histories no longer overrides the child history ignore spec but rather appends the new ignore patterns (if any) to the existing ignore patterns from the latest generation as of PR #40

[2021-01-14 08:04] jwaggs commented on #46
There is a bug that causes a crash if a child mhl directory is deleted, then the parent mhl history operated upon. Running the create command on an existing history with a deleted child mhl directory results in the following stacktrace:

[code]

We need to gracefully handle this error.

[2021-01-19 17:52] #47 closed

[2021-01-20 10:05] ptrpfn opened #55 "Ignore command line options are not exactly implemented as documented in README.md"
Minor documentation issue of the ignore funtionality:

The implementation:
[code]

The README.md:
[code]

It needs to be decided what's better and change the README or command line option accordingly.

[2021-01-20 10:20] ptrpfn opened #56 "Decide how to store directory hash pairs in ASCMHL XML files"
## Currently implemented "quick" solution (in PR #51 )

* Extension of the existing `<hash>` elements and their hashformat children (`<md5>`, `<c4>`, ..) with attribute `structure`

Example:

[code]

* Pros:
	* simple extension in xsd: only one new attribute
* Cons:
	* not very clean/obvious solution

## Alternative solution A (TBD)

* Hash pairs are set of new elements

Example:

[code]

* Pros:

[2021-01-21 03:14] jwaggs commented on #55
Agreed @ptrpfn - i could be convinced to go either way. My bad for not catching this.

Do you have a preference?

[2021-01-21 03:27] jwaggs commented on #19
@ptrpfn I feel like this can now be closed given the merge of PR #53 - I'm going to close this.

[2021-01-21 03:27] #19 closed

[2021-01-21 08:17] ptrpfn commented on #55
I would say the most important thing is that we don't let the README divert too much from the actual implementation. The only thing I would find good is if you could offer a short-option for every option, just for consistency. If that short-option  where the ignore file is referenced then eventually becomes `-is`, `-if`, or something else is probably not that crucial, and probably best chosen by t

[2021-01-27 02:57] jwaggs commented on #44
PR #51 has a draft to solve the splitting of directory hashes into a "content" hash and a "structure" hash.

@ptrpfn modeled that algorithm off of the C4ID specification for "Calculating a C4 ID for Non-contiguous Blocks of Data". Below is the referenced c4 spec. Section 5.4.

[30MR-WD-ST-2114-C4ID-2017-01-17 V0 (1).pdf](https://github.com/ascmitc/mhl/files/5877386/30MR-WD-ST-2114-C4ID-2017-01-17.

[2021-01-27 03:37] jwaggs commented on #27
Implemented in PR #57 - question now is should we change the default algorithm to the new xxhash since it is faster? We could even bump to the new xxhash 128 bit algorithm and get a larger collision space while still gaining faster performance.

See the relevant [Collision Comparisons](https://github.com/Cyan4973/xxHash/wiki/Collision-ratio-comparison) and [Performance Comparisons](https://github.

[2021-01-27 08:23] ptrpfn commented on #44
I would propose to split up the discussion into two topics:
* the algorithm for the content hash and
* the algorithm for the structure hash.

Both algorithms differ in some details (due to the different things they need to hash). For example the first point "Sort Order" above only applies to the structure hash, as the content hash doesn't hash any file names.

_Some more comments:_

On 1. Sort Ord

[2021-01-27 08:24] ptrpfn commented on #44
Who wants to take a look at the implementation in PR #51 , here are some pointers:

The `DirectoryHashContext` class in [mhl/hasher.py](https://github.com/ascmitc/mhl/blob/dev/split-directory-hashes/mhl/hasher.py) collects all the hashes for a specific folder, and offers the following main functions:

* [append_directory_hashes](https://github.com/ascmitc/mhl/blob/275820ba66c0a220bb3e5f9803a081efd

[2021-01-27 08:25] ptrpfn commented on #44
I removed the link to the SMPTE standard, as this document cannot be shared publicly.

[2021-01-27 21:14] jwaggs commented on #27
Per our meeting today - we have decided to change the default algorithm to be xxh3_128.

This should be added to PR #57 prior to merge

[2021-01-28 18:00] mrjoshuak commented on #44
The mechanism that C4 uses to identify non contiguous data is designed around consistency and practicality.

The algorithm is invariant to metadata information such as filenames, and produces the same ID for the same content regardless of name changes sorting order or other factors. It removes duplicate content ids so file sets that differ only by repetition will also produce the same ID.

The C4

[2021-01-29 12:46] ptrpfn commented on #44
Thank you Joshua for the comprehensive overview of the design aspects of the C4 algorithms. I will take a look at our current implementation once more to see if we implemented the directory hashes (both the "content directory hashes" for the file contents as well as the "structure directory hashes" for the file names and subfolder structure) according to these concepts.

You mentioned a few things

[2021-01-30 00:53] fschleich commented on #56
### Alternative solution B

- use separate element type for directory hashes, as outlined in example:

[code]

- Pros:
-- no overhead to file hashes
-- even better understandable solution
-- able to reuse hash type definitions (xxh64, md5, c4, etc)
- Cons:
-- additional type definition in xsd

[2021-02-03 12:57] ptrpfn commented on #56
"Alternative solution B" sounds good to me.

I added an first XSD (commit [cd1f149b](https://github.com/ascmitc/mhl/commit/cd1f149baa7d56c8f3d69c6deb8e5fc5c48ced62) ) for that option for review in branch [dev/split-directory-hashes-xsd](https://github.com/ascmitc/mhl/tree/dev/split-directory-hashes-xsd).

When checking out that branch you can test the validity of example MHL file (example attached

[2021-02-10 20:56] jwaggs commented on #44
@mrjoshuak your write up was a huge help. Nothing boring at all!

It appears the intent of a c4 ID Tree as you mentioned is to produce an ID for a "global pool of tree nodes". In this use case, it makes sense for all of the files to be included in a flat list and deduplicated for computation of the global checksum value.

In our use case, at least until now, we had planned to include these "tree i

[2021-02-10 21:16] jwaggs commented on #44
The two competing algorithms are implemented in two separate branches right now.

1. `dev/split-directory-hashes`: This branch is the merkle tree approach.
2. `dev/split-directory-hashes-flatlist`: This branch is the c4 Tree ID approach.

I used the `time` unix command to measure the execution of the two implementations. For simplicity, I executed this against the mhl repository itself which has a

[2021-02-11 19:31] mrjoshuak commented on #44
Sounds like something it going wrong. The computation for directory hash is extremely fast. In most cases it should be faster than computing a single file ID, because directory hashes are not bound by the storage IO.

[2021-02-11 19:44] mrjoshuak commented on #44
@jwaggs I'm not sure what you mean by re-inclusion of file hashes. Files are only ever hashed once, and the ID is only ever used once to calculating the directory hash.

It requires similar storage and effort in both contexts unless there is a great deal of duplication between directories (since in that case the flat version would save by eliminating that duplication). If you have 10 files in a di

[2021-02-11 21:34] jwaggs commented on #44
@mrjoshuak it sounds like we might actually be on the same page. We are definitely in agreement that files are only ever hashed once.

This is actually in line with the existing functionality in this repository. I completely agree with your reasoning here and think there may have been a misunderstanding about what the c4 spec was proposing in the first place. The proposal to deviate from this was

[2021-02-11 22:24] jwaggs commented on #44
@mrjoshuak given your feedback. I've updated my comments above with a disclaimers since the algorithm being tested was not a true c4 Tree Id, and rather seems to have been a misunderstanding about the c4 spec.

[2021-02-11 22:48] jwaggs commented on #44
Re-reading your message @mrjoshuak - I may need to clarify a bit more about your example ...

That specific example works out to be about the same overall effort only because the former doesn't compute the child directory tree id. In that example, the former generates 1 id and the latter generates 2 ids. In this former scenario, one of the directories would not have a tree id.

If 2 tree ids were

[2021-02-11 23:27] mrjoshuak commented on #44
I want to clarify a potential ambiguity around what C4 Tree refers to in this context as I answer your question about the "rootFolder" ID example above. A C4 Tree is a binary tree of hashes starting from *any* two or more hashes. It has no relationship to a file system tree. That's probably already understood, just want to be clear.

For the rootFolder ID, yes it is computed from the ID of file1 a

[2021-02-12 00:07] mrjoshuak commented on #44
Note regarding the ID per directory in an object storage system example.

These IDs would refer to a list of files that are not the same as the lists you'd get by matching keys to the path, because files in subfolders are excluded in the one, but not in the other. The ability to identify complex logical sets like this is part of c4's design. Leveraging that design relies on application developers

[2021-02-12 01:47] jwaggs commented on #44
@mrjoshuak I agree with everything you've posted here.

I'd say this is the point I've really been trying to drive home @ptrpfn. This brings us back to the use cases. We need to decide whether we just want a root tree hash or a tree hash at each directory level.

I agree with @mrjoshuak's assessment here, so in summary:

- If we go with root tree hash only then the flat list algorithm is viable.
-

[2021-02-19 10:53] ptrpfn commented on #44
I could just now follow-up your conversation about the technical implications of the different solutions. My view is very similar to what @jwaggs waggs lined out, but I want to add the findings about each solution from the previous conversations, as these might lead us to the right questions about what we actually want to solve with the directory hashes.

* **Recursive algorithm, root hash only**

[2021-02-24 18:16] jwaggs commented on #55
@ptrpfn I just opened PR #58 to address this issue.

I went back and forth on the naming of the shorthand flags and decided to divert from your suggestion just a bit. Instead of `-is` and `-if` ... I chose `-i` and `-ii`.

The reason for this is because both "is" and "if" make it sound like the flag includes matching items rather than excluding them. I feel `-i` for a single ignore item and `-ii`

[2021-02-24 19:29] jwaggs commented on #44
The main use case has been visual verifiability of an entire structure via checksum rather than requiring file by file visual verification of many checksums. This does not require directory checksums at each level. In fact, in the case that root checksums match, there is little to no value in the inclusion of sub-directory checksums.

In the situation that a root checksum fails verification, the i

[2021-03-01 16:57] mrjoshuak commented on #44
Flat lists are only able to differentiate file addition and removal.

Directory based identification can differentiate between "versions" of directories. This insures that a reference to a particular directory is absolute and immutable. After all what distinguishes a directory if not the files and folders it contains? Each change that is important to retain can be memorialized by associating a ver

[2021-03-08 23:22] ptrpfn commented on #55
Merged PR #58

[2021-03-08 23:22] #55 closed

[2021-03-08 23:24] ptrpfn opened #60 "Chain files still has txt format"
Didn't fail in tests, as there is no test yet that tests the chain file for xsd validity.

[2021-03-08 23:24] #35 closed

[2021-03-08 23:25] ptrpfn commented on #27
Merged PR #57

[2021-03-08 23:25] #27 closed

[2021-04-01 16:58] #45 closed

[2021-05-04 07:45] ptrpfn opened #69 "Questions about the `--version` option"
The version command only works when the `ascmhl` command is installed via pip (pip3).

From the command line it looks like this:

[code]

Is this intended?

[2021-05-04 07:47] ptrpfn commented on #69
@cbenhagen Can you take a look? You know probably most about the changes for pip install. I also opened a pull request for a bit more info in the README on how to run `ascmhl.py` from the repository ( https://github.com/ascmitc/mhl/pull/68 ) after the "pip changes". Maybe you have an opinion on that, too. Thank you!

[2021-05-04 09:39] cbenhagen commented on #69
This is expected behaviour, as when running the uninstalled script there is no way to determine the version. What would be the use case for running `./mhl/cli/ascmhl.py` instead of the installed (and maybe editable) `ascmhl` from your `$PATH`?

[2021-05-04 09:47] ptrpfn commented on #69
Running `./mhl/cli/ascmhl.py` simply was _the_ way to use the repository for testing new features as part of the group discussions so far (including switching between branches, testing different behavior etc.). Not everyone is a developer in the group and uses an IDE). This may not have advantages beyond that it worked, but it should be documented how to use it now (see discussion in pull request

[2021-05-04 09:50] cbenhagen commented on #69
Ok, I see. Sorry for the breaking change then! I will add more information to the `README` on how to install, run and update using pip for developers and users.

[2021-05-04 09:52] ptrpfn commented on #69
Ok great, that sounds good. Thank you, Ben!

[2021-05-06 11:35] cbenhagen opened #70 "Official package name decision"
Before publishing the package to the Python Package Index (PyPI) an official decision on the name should be made. `mhl`, `ascmhl` or `mhllib` are available.

[2021-05-06 11:42] cbenhagen opened #71 "Publish package to the Python Package Index (PyPI)"
This depends on #70

As discussed in #63 this could be done automatically on new git tags extending the already used GitHub Actions making sure the new version passes all unit and integration tests.

[2021-05-06 13:07] ptrpfn commented on #69
Jon brought another question about that version, but unfortunately we could not discuss that in the last meeting. I'll change the title to a more general topic about "the version" and invite @jwaggs to add his findings here. Maybe we leave it open then for now.

[2021-05-17 14:08] jwaggs commented on #71
Hey @cbenhagen and @ptrpfn sorry for the delay on responses the past few PRs / issues. Hoping to address these issues in greater detail prior to our meeting this Wednesday - I'll get back with you shortly.

[2021-05-17 22:37] jwaggs commented on #69
sorry for the delay this is good to go.

[2021-05-17 22:37] #69 closed

[2021-05-17 22:42] jwaggs commented on #70
@ptrpfn did we officially decide on using `ascmhl`? I remember the group leaned that way. But it seems excessive to have a six character acronym as the name. Thats a lot of characters that can't be pronounced for people to remember as a command name.

I won't put up a fight on it if we stick with `ascmhl` - but I also could make a case for publishing this as MHL version 2.

Thoughts @ptrpfn?

[2021-05-17 22:44] jwaggs commented on #56
@ptrpfn do you feel its appropriate to update this thread with our further discussions on this topic yet? I'll leave it to you to summarize the status of this proposal if you don't mind.

[2021-05-17 22:46] jwaggs commented on #60
@ptrpfn does this feature need full implementation or has there been progress made towards the conversion of the chain file to xml format?

[2021-05-17 22:54] jwaggs commented on #71
I agree we should utilize tagging to automatically publish after testing succeeds. @cbenhagen let's discuss getting this package published once we resolve #70 as you mentioned. We could get a dry run up on TestPyPi soon.

My apologies on the delay in progress this past week. Co-worker is moving on to a new company so my work load has doubled to accommodate for the time being. MHL had to take a qui

[2021-05-17 23:04] cbenhagen commented on #70
The package name (as in `pip install mhl`) does not have to be the same as the cli tool or the module name (`from mhl import foo`). I would prefer to go with `mhl` for all 3 of them for simplicity.

[2021-05-17 23:19] cbenhagen commented on #71
Sure I'd be happy to join.

[2021-05-18 03:34] jwaggs commented on #71
@cbenhagen you should have an email invite to the `ascmhl` slack channel. I sent it to your github listed email - lmk if you need it sent to another.

Patrick posts the meeting info & links in slack.

[2021-05-18 07:55] ptrpfn commented on #60
Currently the chain file is still in the old text format – which doesn't match the specification any more.
But IMHO this todo (changing the chain format from a text format to the current XML-based specification) includes almost no risk , so I think was ok to leave that open for now and dedicate any available time to more critical topics such as directory hashes, ignore patterns, or flattening.
But

[2021-05-18 08:06] ptrpfn commented on #70
I remember the group discussions about prefixing everything with "ASC" (like in ASC CDL). Reasons have been to distinguish properly from the previous version of MHL (which is called "mhl"), and to be in line with the ASC's naming convention (which provides the context for this work). For example, the cli tool already has been renamed to `ascmhl` previously.
So I would propose to put the question o

[2021-05-18 08:42] ptrpfn commented on #56
As soon as we merged PR https://github.com/ascmitc/mhl/pull/51 (which to my knowledge represents the decided solution for directory hashes via the group discussions), we can take a look at this small remaining topic of how to store them syntactically.
The solution in PR #51 is still the simple one with the "structure" attribute: `<xxh64 structure="80e491fb8b96fd82">6d43a82e7a5d40f6</xxh64>`.
Some

[2021-05-18 09:01] ptrpfn commented on #60
Sorry I just remembered that the discussion about the syntax of the chain file was re-opened with the proposal for using the chain file for listing multiple packing lists. So the exact spec for the chain file might still change. Maybe another reason to wait a bit longer with this.

[2021-05-19 22:43] cbenhagen commented on #70
We decided to use `ascmhl` for all three.

[2021-05-19 22:43] #70 closed

[2021-05-20 14:47] cbenhagen opened #74 "Symlink loop"
There is a symlink loop in `xsd/examples/ASCMHLChain.xsd -> ASCMHLChain.xsd`.

[2021-05-20 15:39] cbenhagen opened #75 "Use Black formatter for consistent code formatting"
I'd like to propose the use of the [Black code formatter](https://github.com/psf/black). This helps a lot to have a consistent formatting style. It is used by many popular Python projects for the sake of not having to discuss formatting ever again.

While it is opinionated and does not provide many config options by design, one thing we would need to decide on is the line length. An old and endles

[2021-05-20 21:07] jwaggs commented on #75
@cbenhagen I think this is a great suggestion. Feel free to open a PR.

[2021-05-20 21:34] jwaggs commented on #75
as for line length - i always prefer longer line lengths - 120+ would be my personal preference.

However this is a topic I'm not heavily opinionated in. Any opinion @ptrpfn?

[2021-05-21 05:55] cbenhagen commented on #75
Currently there is a mix of double and single quotes for strings. While I personally lean a bit more to single quoted strings, Black has no option to enforce them. Skipping normalization can be configured, but that would leave us with the current state of mixed usage. Because it's easier to type, I would often type the single quotes and just let black handle the conversion. There are Black plugins

[2021-05-21 06:25] cbenhagen opened #77 "Run tests on all supported platforms and Python versions"
Adding a test matrix which runs unit and integration tests on all supported platforms and Python versions will help us catch issues early.

[2021-05-21 06:28] cbenhagen commented on #74
/cc @fschleich

[2021-05-21 14:48] #71 closed

[2021-05-21 16:39] jwaggs commented on #77
@cbenhagen you use Tox for this?

[2021-05-21 18:30] cbenhagen commented on #77
Maybe we just use the matrix feature of GitHub? Something along the line of:

[code]

[2021-05-21 18:47] jwaggs commented on #77
This is why I'm glad you've joined us @cbenhagen 😃. Looks like a great idea to me

[2021-05-21 18:52] #75 closed

[2021-05-21 18:52] #74 closed

[2021-06-09 19:22] cbenhagen opened #85 "Add Windows support"

[2021-06-09 19:51] #77 closed

[2021-06-16 15:32] ptrpfn opened #87 "Review if (directory) hashes are conforming to spec when implementation stabilizes"
There are tests in place that prevent regressions, but currently the implementation of the directory hashes (content and structure) has not been reviewed.

The task would be to take a close look at the hash creation "algorithms" (not the hash algorithms themselves but how the hashes are concatenated etc.).

[2021-07-02 02:00] photonclock opened #89 "MHL paths vs file paths relative to the MHL file location"
It seems very odd to me that the paths in an MHL file do not reference files relative to the MHL file location, ie:

Given this path:
./rootFolder/files/myfile.txt

cd rootFolder
ascmhl create -h xxh64 .

result:
rootFolder/files/myfile.txt
rootFolder/ascmhl/theMHLFile.mhl

path inside the MHL file:
<hash>
      <path size="175374567" lastmodificationdate="2021-05-14T13:42:47-07:00">files/myfile.t

[2021-07-02 08:36] ptrpfn commented on #89
The path in each `<hash>` element is designed to be relative to the `<path>` element for the root path in the `<processinfo>` element. So concatenating these two paths results in the absolute path.

The relative path was also designed not to include aspects of the internal structure of the `ascmhl` folder and thus the "one folder up" path component (`../`) is not part of the relative path.

That m

[2021-07-07 15:15] ptrpfn commented on #42
Is changed already along the way.

[2021-07-07 15:15] #42 closed

[2021-07-07 15:19] ptrpfn commented on #44
With the pull request #51 and release 0.5.0 the directory hashes are implemented now. The algorithm still requires review, potentially best agains other, upcoming implementations to ensure that it conforms exactly to the specification.

[2021-07-07 15:19] #44 closed

[2021-09-30 14:25] ptrpfn commented on #89
BTW: In the last weeks' discussions we found that the absolute path doesn't make too much sense at the moment anyways, as it us practically useless for verification. The group decided to move that absolute path out of the spec for now.

[2021-09-30 14:25] ptrpfn commented on #87
Done

[2021-09-30 14:25] #87 closed

[2021-09-30 14:26] ptrpfn commented on #60
Covered with PR #93 .

[2021-09-30 14:26] ptrpfn commented on #56
Done and implemented.

[2021-09-30 14:26] #56 closed

[2021-10-04 09:03] ptrpfn opened #94 "Improve / finish chain file implementation"
* Tests for contents of chain file are not done yet.
* Currently the chain file is overwritten while created, so if the chain creation fails, the original chain is also gone. Should be exchanged with a temporary chain file that replaces the original once the new chain file is written successfully.

Already in other issue #22:
* Checking of chain file (could be a new "verify" subcommand) is missing

[2021-10-07 18:56] fschleich opened #95 "Manifest filenames not using UTC Time"
Manifests filenames should reflect Zulu time as required per Section 6.3 of [ASCMHL_Specification_v0.9](https://docs.google.com/document/d/1mci5EpnXpOtxsbmtpP6K-eRXvlG8UmINYp23VU6Az0E/edit#), not local time.

[2021-10-08 13:23] fschleich opened #96 "Error when using dirhash command"
I get the following error when attempting to create a directory hash:

[code]

[2021-10-08 13:24] ptrpfn commented on #96
Looks like that got lost in merging.. Will take a look.

[2021-10-08 14:49] jwaggs opened #97 "Error in dependencies."
the latest version of the script seems to be failing on all commands. the stack trace indicates that we import a module named dateutil that is not found.

[code]

I believe we need to add something to our prod dependencies if we want to use this module. For some reason it seems to be getting installed properly via test dependencies but not prod dependencies, which is why the tests succeed but the

[2021-10-08 16:05] #97 closed, assigned to nobody

[2021-10-08 16:30] #95 closed, assigned to nobody

[2021-10-14 09:30] ptrpfn opened #100 "Using "choice" for hash entries in XSD"
Via feedback in document: https://docs.google.com/document/d/1mci5EpnXpOtxsbmtpP6K-eRXvlG8UmINYp23VU6Az0E/edit?disco=AAAAQjJhDw4

## Possible solutions

### Variant "choice" (current, specification v0.9)

Solution with "choice", but allows multiple hash entries of same type.

* PRO: already is implemented
* CON: complicated solution, more than one entry of same type allowed

[code]

Validation:

*

[2021-10-14 12:55] ptrpfn commented on #96
Comments in the source code reminded me that this is an old command that is deprecated (and also not currently documented). The open task was to move its use case into the `verify` command.

This issues is solved with #101.

[2021-10-18 14:01] #96 closed, assigned to nobody

[2021-11-10 15:09] ptrpfn opened #103 "ascmhl.readthedocs.io didn't update with master branch"
* The README at https://ascmhl.readthedocs.io/en/latest/README.html didn't update to latest changes in the master branch.
* Also the "doc" tag on the top of the github page at https://github.com/ascmitc/mhl/blob/master/README.md has a "failed" status.

[2021-11-10 15:13] jwaggs commented on #103
[code]

This is the stacktrace on read the docs. Any idea what that might have caused that from your most recent merge @ptrpfn ?

[2021-11-10 15:16] jwaggs commented on #103
It sure doesn't look like you changed much of anything other than the Readme in #102 - I'm working on the directory checksum issue today so I can take a look at this in a bit if you don't have any ideas @ptrpfn

[2021-11-15 17:16] jwaggs opened #105 "missing tool version fails verification"
The spec seems to specify that the version attribute of the tool tag is optional. However verification fails if the tool.version attribute is not set.

[2022-02-02 20:49] ptrpfn opened #111 "Refactor subcommand methods to use named args (too long method signature)"
via @jwaggs in PR 109 and 110:

Example from `commands.py`:

[code]

[2022-02-06 20:43] Scott-Larsen opened #112 "Write multiple hash algorithms in one `create` pass broken?"
In an e-mail to Jon Waggoner asking whether it's possible to output multiple hash algorithms in a single .mhl file he seems to indicate that it's possible but may be broken. If it is possible, especially if it's working, it would be great to have an example in the Readme of how to properly call multiple algorithms. I tried to dig through the code as a junior developer, unfamiliar with the project

[2022-02-07 22:57] jwaggs commented on #112
@Scott-Larsen thanks for opening the issue. You are correct - multiple has been disabled via line 50 of commands.py.

We have a meeting on Wednesday at 5:30pm PDT - I'll bring this up during the meeting. I think this is one of those features that got sidelined til "later" - and that time has finally arrived. Would be good to get this fixed.

I looked under the hood a bit and there are several sect

[2022-02-10 16:43] jmccdev opened #113 "create command crash"
Files are available under the ASC MHL G-Drive, under 'Test-Media > Interop Test Cases':

[code]

[2022-02-10 23:41] jwaggs commented on #113
@ptrpfn I think we should comb through the code to remove any assertion statements in favor of raising explicit errors if they cannot be handled.

I like to limit assertions to test cases.

[2022-02-11 22:26] jmccdev commented on #113
original post updated with the command

[2022-02-15 01:00] jmccdev opened #114 "Handling for missing HashFormatType"
I created an ASC MHL History using the command line tool:

`$ ascmhl create -h md5 <directory>`

Afterwards, I manually removed `action="original"` from each hash register:

[code]

I then ran the create command on the same directory. There was no error about the missing HashFormatType, and the 0002* MHL that was created was given a HashFormatType of 'original' rather than 'verified':

[code]

The

[2022-02-15 01:17] jmccdev opened #115 "HashFormatType of 'failed' is ignored"
I created an ASC MHL History using the command line tool:

`ascmhl create -h md5 16421225_Day001/`

Afterwards, I manually changed the HashFormatType to 'failed' for first hash:
      `<md5 action="original" hashdate="2022-02-08T14:54:36.763024-08:00">9290a2ca3f586cb53da7cb516610fed2</md5>`

      `<md5 action="failed" hashdate="2022-02-08T14:54:36.763024-08:00">9290a2ca3f586cb53da7cb516610fed2</m

[2022-02-15 01:49] jmccdev opened #116 "No warning for file with missing hash"
The data used for this is under `/sources/104_verification_types/104h/` within the dataset on the G-Drive:
https://drive.google.com/drive/folders/1PrAPczRFBQsVfjakbX-fqnDVHsAD-kd1

I created the ASC MHL History with:
`ascmhl create -h md5 16421225_Day001/`

Afterwards, I Manually deleted this from the 0001* MHL:
[code]

I then ran the create command on the same directory:
`$ ascmhl create -h md5 1

[2022-02-15 06:21] jmccdev commented on #116
Closely related to this... for test case `104i`, one file in the data set is renamed after the ASC MHL History creation.

[code]

I ran the `asc mhl create` command on this data set. For the renamed file, a 'Missing file' error is printed, but the register for that file is completely removed in the new MHL generation. Should it not be retained with a 'failed' HashFormatType? Additionally, it creat

[2022-02-15 09:32] ptrpfn commented on #113
The reason for the crash was in test case 105b. Currently the `ascmhl` tool did catch the case if a mhl file has a different hash than the hash noted in a hash reference, but it simply asserted instead of displaying an error.

The problem:
MHL file `sources/nested_histories/105b/16421225_Day001/ascmhl/0001_16421225_Day001_2022-02-09_040703.mhl` references
MHL file `sources/nested_histories/105b/16

[2022-02-15 09:37] ptrpfn commented on #116
That edit should actually be caught by a check of the hash of the MHL file against the has in the chain file. Currently the hashes of the chain file are not verified. That's a TBD.

[2022-02-15 15:19] ptrpfn commented on #113
Fixed with PR #117.

[2022-02-15 15:19] #113 closed, assigned to nobody

[2022-02-15 15:53] ptrpfn commented on #112
FYI: @mthudgins is working on this already in branch `dev/multiple-checksum-output`.

[2022-02-15 17:16] jmccdev opened #118 "Remove requirement for root folder when verifying / adding single files"
The data used for this is under `/sources/104_verification_types/104n/` within the dataset on the G-Drive:
https://drive.google.com/drive/folders/1PrAPczRFBQsVfjakbX-fqnDVHsAD-kd1

I created the ASC MHL History with:
`ascmhl create -h md5 16421225_Day001/`

Using the `verify` command on a single file in that dataset results in a `Missing ASC MHL History` error:

[code]

Using the `create` command

[2022-02-15 17:55] jmccdev commented on #116
`104m` and `105c` basically run into the same behavior. Some amount of files are not hashed anywhere (in root directory history, or in a nested history), and they are silently added to the root directory's history with 'original' HashFormatType.

[2022-02-15 18:18] jmccdev opened #119 "A missing MHL in a History producing no warning during verification, and is not updated in the Chain file"
The data used for this is under `/sources/106_chain_file/106a/` and `/sources/106_chain_file/106b/` within the dataset on the G-Drive:
https://drive.google.com/drive/folders/1PrAPczRFBQsVfjakbX-fqnDVHsAD-kd1

For `106a`, the newest MHL file, `0002_16421225_Day001_2022-02-09_045418.mhl`, was manually deleted. I ran the `create` command on the same root directory afterward:

`$ ascmhl create -h md5

[2022-02-16 04:29] jmccdev commented on #116
Looks like the `verify` command prints a warning about finding a new file:

[code]

[2022-02-16 08:20] ptrpfn commented on #118
Both the `verify` and the `create` commands have an option `-sf PATH` or `--single_file PATH` to verify or add single files (you can have multiple `-sf PATH` options in one call). These options are implemented as additional options of the `verify` and the `create` commands which require also a root path of the ASC MHL History to be passed in.

This is not the most elegant solution, but the current

[2022-02-16 08:24] ptrpfn commented on #116
Just for reference: There is already an issue #22 for the verification of chain files.

[2022-02-16 08:25] ptrpfn commented on #119
That should actually be caught by a full verification the chain file. Currently the completeness of ASC MHL files and their consistency (hashes) are not verified against the chain file. That's a TBD.

There is already an issue #22 for the verification of chain files.

[2022-02-16 08:27] ptrpfn commented on #100
The specification has been changed and the required alphabetical order of hash formats is implemented.

[2022-02-16 08:27] #100 closed

[2022-02-16 20:26] jmccdev commented on #115
Possibly the spec does not allow for a 1st generation MHL to contain a 'failed' HashFormatType.

[2022-03-15 16:31] #112 closed

[2022-03-15 16:32] ptrpfn opened #123 "Change more commands to utilize multiple hash formats functionality"
Potential commands:

* `verify`
* `hash`

[2022-03-18 19:34] KeenanMock opened #126 "Change name of commands?"
Because the “Create” ASC MHL Operation does not equal the “Create” command as found in the sample implementation. The latter uses multiple “operations” (create + verify + append + diff) all invisibly to the user. Perhaps we should change the name of the commands so that the terms “Create,” “Diff,” “Verify,” “Append,” “Rename,” and “Flatten” can _only_ refer to the atomic ASC MHL Operations, which

[2022-05-12 18:51] akda5id opened #127 "AttributeError: 'NaturalOrderGroup' object has no attribute 'resultcallback'"
[code]

Python 3.8.13 on freebsd 13.0-RELEASE-p11. Installed from pip (ascmhl-0.9-py3-none-any.whl).
Let me know if there is any further info you need to track this down, happy to help out.

[2022-05-18 18:17] llamafilm commented on #127
Exact same problem here on a fresh install of macOS 12.3.  My install went like this:

[code]

[2022-05-25 16:33] hjmallon commented on #127
`resultcallback` should have an underscore - `result_callback`. At least that fixes it for me.

[2022-05-25 19:17] llamafilm commented on #127
Thanks @hjmallon!  I found some context at https://github.com/pallets/click/pull/1848

[2022-06-20 21:30] llamafilm commented on #127
This problem happens if you run a newer version of `Click`.  Even though the requirements.txt specifies `Click==7.0`, for some reason `pip install ascmhl` gives me version 8.1 instead.  I don't understand why.

[2022-06-20 21:39] hjmallon commented on #127
Setup.py has ‘Click>=7.0’ which is what pip will read

[2022-06-21 09:00] #127 closed

[2022-06-21 18:25] ptrpfn commented on #127
Fixed with release https://github.com/ascmitc/mhl/releases/tag/v0.9.1

[2022-08-23 19:27] svizor opened #131 "Add an destination path for create command"
Add an destination path where to save the hash for the original volume, since almost always the original volume is write-protected, which will necessarily lead to an error in creating the initial hash.

[2022-09-06 08:30] SiDu1860 opened #132 "Issue with ascmhl verify -v /path/to/folder_with_HDE_files_and_asc-mhl_folder/"
**Do:**
- Install python3 /check installation for python3
- install pip3/check if installed
- install asc-mhl tool
-  try to verify ARRIRAW HDE Transcoder encoded files with asc-mhl folder

**Happen:**
- no verify possible
- terminal output:

**Should:**
- Verify with output to terminal

**Info:**
macOS Monterey 12.5.1
Intel MacBookPro 2019

[2022-09-06 08:56] ptrpfn commented on #132
Can you append a sample ASC MHL folder where this happens? Or a link to the the ARRIRAW HDE Transcoder version you are using?

Also worth noting: You can also check the validity of ASC MHL files with the command `ascmhl-debug xsd-schema-check /path/to/ascmhl/XXXXX.mhl` to check if the ASC MHL file is valid against the ASC MHL XSD schema.

[2022-09-06 09:45] SiDu1860 commented on #132
ARRIRAW HDE Transcoder Version 1.0.0.10151 (latest downloader from ARRI Website)

Here's a screenshot of folder structure:
<img width="421" alt="Bildschirmfoto 2022-09-06 um 11 45 03" src="https://user-images.githubusercontent.com/36437904/188603484-cfa1b3b0-eff8-4b5d-a06e-bc939072610c.png">

Here's the file (in a zip):
[220830_102152_220830_102141_A_000112SQ.mhl.zip](https://github.com/ascmitc/mh

[2022-09-06 09:48] SiDu1860 commented on #132
ends up with:

**Traceback (most recent call last):
  File "/usr/local/bin/ascmhl-debug", line 8, in <module>
    sys.exit(mhldebugtool_cli())
  File "/usr/local/lib/python3.10/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.10/site-packages/click/core.py", line 782, in main
    rv = self.invoke(ctx)
  File "/usr/local/lib/py

[2022-09-06 10:53] ptrpfn commented on #132
The `xsd-schema-check` command must be run from a directory with a `xsd` subfolder where the ASC MHL xsd files
are located (for example it can be run from the root folder of the ASC MHL git repository). Alternatively you can pass
the local path to the XSD file (available [here](https://raw.githubusercontent.com/ascmitc/mhl/master/xsd/ASCMHL.xsd)) with the `-xsd` or `--xsd_file` option.

[2022-09-08 08:04] SiDu1860 commented on #132
@ptrpfn confirm to be fixed in v0.9.3.

note: the check found some of these 'hidden' _. mac files. just for information.

found new file ._.DS_Store
name of ascmhl file ._220830_102152_220830_102141_A_000112SQ.mhl does not conform to naming convention

The check itself works perfectly. Thanks @ptrpfn

[2022-09-13 11:23] ptrpfn commented on #132
Great, thank you for confirming!

[2022-09-13 11:23] #132 closed

[2022-09-13 11:26] ptrpfn commented on #132
Please note that there is an "ignore pattern" feature in ASC MHL. (see https://cms-assets.theasc.com/ASCMHL_Specification_v1.0.pdf?mtime=20220316130804 for details).

A default ignore pattern in the ASC MHL could look like this:

[code]

... which would avoid that message you experienced.